{# src/OC/PlatformBundle/Resources/views/Monitoring/graphPerformance.html.twig #}

{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
    Page d'accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class=" container containerHomePage">
        <div class="col-md-12">
            <img class="logoPvCp" src="{{ asset('bundles/crmtools/img/Logo_PVCP.png') }}" alt="Logo PVCP" />
        </div>
        <h1 class="titleHomePage">CRM Tool</h1>
        <div class="col-md-12">
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item active linkLine">MONITORING</a>
                    <a href="{{ path('crm_tools_graph') }}" class="list-group-item">Graphs Perfomance</a>
                    <a href="{{ path('crm_log_errors') }}" class="list-group-item">Log Errors</a>
                </div>
            </div>
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item linkLine bkColorBlue">UCR SEARCH ENGINE</a>
                    <a href="{{ path('crm_contact_form') }}" class="list-group-item">Contact form</a>
                    <a href="{{ path('crm_booking_form') }}" class="list-group-item">Booking form</a>
                </div>
            </div>
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item active linkLine">DATA QUALITY</a>
                    <a href="{{ path('crm_errors_analysis') }}" class="list-group-item">Errors' analysis</a>
                    <a href="{{'#'}}"  class="list-group-item">Metrics</a>
                </div>
            </div>
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item linkLine bkColorBlue">TOOL BOX</a>
                    {#<a href="{{'#'}}" class="list-group-item">Qualité UCR</a>#}
                    {#<a href="{{'#'}}" class="list-group-item">Qualité Propriétaire</a>#}
                    {#<a href="{{'#'}}" class="list-group-item">Qualité Anonymisation</a>#}
                    {#<a href="{{'#'}}" class="list-group-item">Qualité PV</a>#}
                    {#<a href="{{'#'}}" class="list-group-item">Qualité Référence</a>#}
                    {#<a href="{{'#'}}" class="list-group-item">Qualité Midas</a>#}
                </div>
            </div>
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item active linkLine">FILE INTEGRATION</a>
                    <a href="{{ path('crm_file_upload') }}" class="list-group-item">File Upload</a>
                    <a href="{{ path('crm_business_view') }}" class="list-group-item">Business View</a>
                </div>
            </div>
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item linkLine bkColorBlue">CRM WEATHER</a>
                    <a href="{{ path('crm_total_campaigns') }}" class="list-group-item">Total Campains</a>
                    <a href="{{ path('crm_contact_creation') }}" class="list-group-item">Contact creation follow-up</a>
                    <a href="{{ path('crm_retargeting_monitoring') }}" class="list-group-item">Retargeting Monitoring</a>
                    <a href="{{ path('crm_game_integration') }}" class="list-group-item">Game integration</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}