{% extends '::base.html.twig' %}


{% block title %}
    Authetification - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {%include "CRMToolsBundle:Default:index.html.twig"%}
     {% else %}
        <div class="container">
            <div class="row">
                <div class="account-wall">
                    <img class="profile-img" src="{{ asset('bundles/crmtools/img/Logo_PVCP.png') }}" alt="Logo PVCP" />

                    <form action="{{ path('crm_ldap_connect') }}" method="post" class="form-signin">
                        {{ form_start(form) }}
                            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':  'Username'  }})  }}
                            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':  'Password'  }})  }}
                            {% if error_msg!=NULL %}
                                <p class="errorMessageSignIn">{{ error_msg }}</p>
                           {% endif %}
                            <button type="submit" id="_submit" name="_submit"  class="btn btn-lg btn-primary btn-block buttonSignIn" >Sign in</button>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
