{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
    File Upload - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container containerPage">
        <h1 class="titlePage">File Import</h1>
        <div class="paraphDescript">
           <p>Allow the members of PVCP Group Marketing Direct team to load into CRM UCR database their files such as UPDATE_SUBSCRIPTION, JEU, or UPDATE_ADDRESS
                without asking IT CRM RUN team intervention. Specific validation rules are setup to only allow the loading of relevant and complete files.
           </p>
        </div>

        <!-- Begin of Upload form -->
        <form action="{{ path('crm_file_upload') }}" method="POST" {{ form_enctype(form) }}>
            <div class="form-group"> <!-- Date input -->
                {{ form_widget(form.fileName, {'attr': {'class': 'col-md-3'}  }) }}
                <button class="btn btn-default btn-xs uploadButtonCss" name="submit" type="submit">Upload</button>
            </div>
        </form>

        {% if error_message is defined %}
            <p class="col-md-12 errorMessage">{{ error_message }} </p>
        {% endif %}

        {% if errors_array is defined %}
            <div class="cssFromTable">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ fileName }}</th>
                    </tr>
                    <tr>
                        <th>Error</th>
                        <th>Number of error</th>
                        <th>Percentage</th>
                        <th>Critical</th>
                    </thead>
                    <tbody class="borderBodyTable">
                    {% for error_name, error_count in errors_array %}
                        {#{{ dump(config) }}#}
                        <tr>
                            {% if 'JEU_' in fileName %}

                                <td>{{ config['game_config']['errors'][error_name]['label'] }}</td>
                                <td>{{ error_count }}</td>
                                {% if (error_count == 0) or ((nb_lines -1) == 0) %}
                                        <td> 0 </td>
                                {% else %}
                                    {% set percentage = '%.2f'|format(100 * error_count /(nb_lines -1)) %}
                                    <td>{{ percentage }}</td>
                                {% endif %}
                                {% if error_count > 0 %}
                                    {% if config['game_config']['errors'][error_name]['critical'] == 1 %}
                                        <td style="background-color: #F00000;"> &nbsp;</td>
                                    {% else %}
                                        {% for color_array in config['color_config'] %}
                                            {% if color_array['min_value'] <= percentage and percentage <= color_array['max_value'] %}
                                                <td style="background-color: {{ color_array['color_value'] }};">&nbsp;</td>
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                {% else %}
                                    <td style="background-color: #5bb024;">&nbsp;</td>
                                {% endif %}

                            {% elseif 'UPDATE_SUBSCRIPTION' in fileName %}

                                <td>{{ config['update_subscription_config']['errors'][error_name]['label'] }}</td>
                                <td>{{ error_count }}</td>
                                {% if (error_count == 0) or ((nb_lines -1) == 0) %}
                                    <td> 0 </td>
                                {% else %}
                                    {% set percentage = '%.2f'|format(100 * error_count /(nb_lines)) %}
                                    <td>{{ percentage }}</td>
                                {% endif %}
                                {% if error_count > 0 %}
                                    {% if config['update_subscription_config']['errors'][error_name]['critical'] == 1 %}
                                        <td style="background-color: #F00000;"> &nbsp;</td>
                                    {% else %}
                                        {% for color_array in config['color_config'] %}
                                            {% if color_array['min_value'] <= percentage and percentage <= color_array['max_value'] %}
                                                <td style="background-color: {{ color_array['color_value'] }};">&nbsp;</td>
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                {% else %}
                                    <td style="background-color: #5bb024;">&nbsp;</td>
                                {% endif %}

                            {% elseif 'UPDATE_ADDRESS' in fileName %}

                                <td>{{ config['update_address_config']['errors'][error_name]['label'] }}</td>
                                <td>{{ error_count }}</td>
                                {% if (error_count == 0) or ((nb_lines -1) == 0) %}
                                    <td> 0 </td>
                                {% else %}
                                    {% set percentage = '%.2f'|format(100 * error_count /(nb_lines -1)) %}
                                    <td>{{ percentage }}</td>
                                {% endif %}
                                {% if error_count > 0 %}
                                    {% if config['update_address_config']['errors'][error_name]['critical'] == 1 %}
                                        <td style="background-color: #F00000;"> &nbsp;</td>
                                    {% else %}
                                        {% for color_array in config['color_config'] %}
                                            {% if color_array['min_value'] <= percentage and percentage <= color_array['max_value'] %}
                                                <td style="background-color: {{ color_array['color_value'] }};">&nbsp;</td>
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                {% else %}
                                    <td style="background-color: #5bb024;">&nbsp;</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <!-- Begin of File Import -->
        <div class="cssFromTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Username</th>
                        <th>Hostname</th>
                        <th>Row Count</th>
                        <th>Import date</th>
                        <th>Process date</th>
                        <th>Total</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="borderBodyTable">
                    {% for file in displayFilesImport %}
                            <tr>
                                <td>{{ file["file_name"] }}</td>
                                <td>{{ file["username"] }}</td>
                                <td>{{ file["hostname"] }}</td>
                                <td>{{ file["Row Count"] }}</td>
                                <td>{{ file["importDate"] | date("d-m-Y") }}</td>
                                <td>{{ file["processDate"] | date("d-m-Y") }}</td>
                                <td>{{ file["Total"] }}</td>
                                {% if currentUser %}
                                    {% if currentUser[0]["isAdmin"] == 1 or currentUser[0]["id"] == file["user_id"] %}
                                        <td><a class="btn btn-primary btn-sm buttonQueryName"    href="{{ path('crm_file_delete', {'file_id': file["id"], 'file_name': file["file_name"] }) }}">Delete</a></td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- end of File Import -->
    </div>
    {% endblock %}