{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
    Indicators modification suppression - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container containerPage">
        <h1 class="titlePage">Indicators Modification Suppresion</h1>
        <div>
            <p>Display into a table the result of a new SQL query created by an IT CRM team member. It’s an easy way to create a new Production indicator on
                CRM UCR database (only reading access). Then IT CRM RUN team will monitor this new indicator each day. </p>
        </div>

        <div class="formCreatingQuery">
            <div class="col-md-12 container">
                {{ form_start(form) }}
                <div class="col-md-offset-1 searchBarModif">
                    <div class="col-md-2">
                        {{ form_label(form.searchText) }}
                    </div>
                    <div class="selectOptionForm col-md-5">
                        {{ form_widget(form.searchText, {'attr': {'class': 'form-control' }})  }}
                    </div>
                    <button class="btn btn-primary searchButon" name="submit" type="submit">Search</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}