{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
     Booking form - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container containerPage">
        <h1 class="titlePage">Booking form</h1>
        <div class="paraphDescript">
            <p>Thanks to a search module based on customer’s email, id_booking or  id_CRS, the user can see the customer form and bookings of his choice
                (reading access only). The content comes from CRM UCR database’s test and Production environments.</p>
        </div>

        <div class="">
            {{ form_start(form) }}
            <div class="formContactBooking">
                <div class="col-md-1 searchBy">
                    {{ form_label(form.searchBy) }}
                </div>
                <div class="selectOptionForm col-md-2">
                    {{ form_widget(form.searchBy, {'attr': {'class': 'form-control' }})  }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.searchText, {'attr': {'class': 'form-control' }})  }}
                </div>
                <div class="col-md-5" style>
                    {{ form_label(form.environment, "Please choose the environment:", {'label_attr': {'class': 'col-md-6 withoutPadding envLabel'}}) }}
                    {{ form_widget(form.environment, {'attr': {'class': 'col-md-5 withoutPadding envButtonSearch' }})  }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        {% if error_message is defined %}
            <div class="col-md-10">
                <p class="errorMessageSearch">{{ error_message }}</p>
            </div>
        {% endif %}

        <div class="col_md-12">
            {% if queries_ucr_result is defined %}
                {% for tableName, tableContent in queries_ucr_result %}
                    <div class="col_md-12 cssFromTable">
                        <table class="table table-bordered tableSearchCss">
                            <thead>
                            <tr  class="greenBackground">
                                <th>{{ tableName }}</th>
                            </tr>
                            </thead>
                            <tbody class="blueHoverLine">
                            <tr>
                                {% for column_name, column_value in tableContent[0] %}
                                    <th>{{ column_name }}</th>
                                {% endfor %}
                            </tr>
                            {% for result in  tableContent %}
                                <tr>
                                    {% for value in  result%}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}