{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
     Contact form - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container containerPage">
        <h1 class="titlePage">Contact form</h1>

        <div class="col-md-12">
            <form method="POST" action="{{ path('crm_contact_form') }}">
                <div class="formContactBooking">
                    <div class="col-md-1 searchBy">
                        <label>Search By :</label>
                    </div>
                    <div class="selectOptionForm col-md-2">
                        <select class="form-control" name="search_type">
                            <option>ID_CONTACT</option>
                            <option>EMAIL</option>
                            <option>LEXO</option>
                            <option>POLO</option>
                            <option>MIDAS</option>
                            <option>BBOSS</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input  type="text" class="form-control" name="id_field">
                    </div>
                    <div class="col-md-5">
                        <label>Please choose the environment:</label>
                        <label class="radio-inline">
                            <input type="radio" name="env" id="Q3" value="Q3" onclick="this.form.submit()"> Q3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="env" id="Q4" value="Q4" onclick="this.form.submit()"> Q4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="env" id="Q5" value="Q5" onclick="this.form.submit()"> Q5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="env" id="P1" value="P1" onclick="this.form.submit()"> P1
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-12 globalTableCss">
            {% if queries_ucr_result is defined %}
                {% for tableName, tableContent in queries_ucr_result %}
                    <div class="cssFromTable">
                        <table class="table table-striped tableSearchCss">
                            <thead>
                                <tr class="greenBackground">
                                    <th>{{ tableName }}</th>
                                </tr>
                            </thead>
                            <tbody class="blueHoverLine">
                                <tr>
                                    {% for column_name, column_value in tableContent[0] %}
                                             <th> {{ column_name }} </th>
                                    {% endfor %}
                                </tr>

                                    {% for result in tableContent %}
                                        <tr>
                                        {% for value in result %}
                                                <td> {{ value }} </td>
                                        {% endfor %}
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}