{# src/CRM/ToolsBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

    {% block body %}
        <!-- Begin of menu nav div -->
        <div class="container containerMenuNav">
            <nav class="navbar navbar-default menuNavBar">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav firsTitleMenu">
                            {#<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
                            <li class="colorHomeIcon">
                                <a href="{{ path('crm_tools_homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                            </li>
                            <li class="dropdown secondTitleMenu">
                                {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monitoring <span class="caret"></span></a>#}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MONITORING<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('crm_tools_graph') }}">Graphs Perfomance</a></li>
                                    <li><a href="{{ path('crm_log_errors') }}">Log Errors</a></li>
                                    {#<li role="separator" class="divider"></li>#}
                                </ul>
                            </li>
                            <li class="dropdown secondTitleMenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">UCR SEARCH ENGINE<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('crm_contact_form') }}">Contact form</a></li>
                                    <li><a href="{{ path('crm_booking_form') }}">Booking form</a></li>
                                </ul>
                            </li>
                            <li class="dropdown secondTitleMenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">DATA QUALITY<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('crm_errors_analysis') }}">Errors' analysis</a></li>
                                    <li><a href="#">Metrics</a></li>
                                </ul>
                            </li>
                            <li class="dropdown secondTitleMenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">TOOL BOX</a>
                            </li>
                            <li class="dropdown secondTitleMenu ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">FILE INTEGRATION<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('crm_file_upload') }}">File Upload</a></li>
                                    <li><a href="{{ path('crm_business_view') }}">Business View</a></li>
                                </ul>
                            </li>
                            <li class="dropdown secondTitleMenu ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">CRM WEATHER<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('crm_total_campaigns') }}">Total Campains</a></li>
                                    <li><a href="{{ path('crm_contact_creation') }}">Contact creation follow-up</a></li>
                                    <li><a href="{{ path('crm_retargeting_monitoring') }}">Retargeting Monitoring</a></li>
                                    <li><a href="{{ path('crm_game_integration') }}">Game integration</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right firsTitleMenu">
                            <li class="dropdown titleMenuNav ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user glyphiconNavCss" ></span>
                                    <strong>{{ app.user.firstname }} {{ app.user.lastname }}</strong><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu secondTitleMenu">
                                    <li>
                                        <a href="{{ path('logout') }}" class="btn btn-block"><span class="glyphicon">&#xe163;</span>  Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="crmToolsLayout">
               <p>CRMTools</p>
            </div>
            <div class="logoPvCpLayout">
                <img class="logoPvCpLayout" src="{{ asset('bundles/crmtools/img/Logo_PVCP.png') }}" alt="Logo PVCP" />
            </div>
        </div><!-- end of menu nav -->
    {% endblock %}


